{% load static %}
{% load widget_tweaks %}


<!DOCTYPE html>
<html lang="en">
<style>
div.container {
    display: inline-block;
    position:relative;
    overflow:auto;

}
</style>
<head>
 <script type="text/javascript" SRC="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>

    <script type="text/javascript" src="/static/collected/admin/js/vendor/jquery/jquery.js"></script>

    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>



<!--

Template 2082 Pure Mix

http://www.tooplate.com/view/2082-pure-mix

-->
	<link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <!-- Site title
   ================================================== -->
    <title>Paradyme Management Database</title>

    <!-- Bootstrap CSS
   ================================================== -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Animate CSS
   ================================================== -->
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">

    <!-- Font Icons CSS
   ================================================== -->
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}">

    <!-- Main CSS
   ================================================== -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Google web font 
   ================================================== -->   
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,300' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />

</head>
<body>


<!-- Preloader section
================================================== -->
<div class="preloader">

    <div class="sk-spinner sk-spinner-pulse"></div>

</div>


<!-- Navigation section
================================================== -->
<div class="nav-container">
   <nav class="nav-inner transparent">

      <div class="navbar">
         <div class="container">
            <div class="row">

              <div class="brand">
                <a href="{% url 'home' %}">Paradyme Management</a>
              </div>


             

            </div>
         </div>
      </div>

   </nav>
</div>


  <div  style="position: absolute; top: 25px; right: 15px; text-align:right; display:inline-block;">
      {% if request.user.is_superuser %}
        <a href="{% url 'adminhome' %}" class='btn btn-default'>Admin Home</a>
      {% endif %}
      <a href="{% url 'my_session' %}"><button type="button" class = "btn btn-default">Clock-in Home</a>
      <a href="{% url 'logout' %}"><button type="button" class = "btn btn-default">Log Out</a>

  </div>

  

<!-- Header section
================================================== -->
<section id="header" class="header-one">
    <div class="container">
        <div class="row">

            <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8">
          <div class="header-thumb">
              <h1 class="wow fadeIn" data-wow-delay="1.6s">All Active Interns</h1>
          </div>
            </div>

        </div>
    </div>      
</section>


<!-- Portfolio section
================================================== -->


<section id="portfolio">

    <!--div>
    All Active Users
      </div!-->
   <form action = # method = "POST"> {% csrf_token %}
        
	<div class="well">
        <h4 style="margin-top: 0"><strong>All Active Interns</strong></h4>
        <br>
      <div class="row">
        <div class="form-group col-md-offset-5 col-md-1 col-sm-2">
            {{ form.pay_period.label_tag }}
            {% render_field form.pay_period class="form-control" %}
        </div>
        <div class="form-group col-md-1 col-sm-2">
            {{ form.month.label_tag }}
            {% render_field form.month class="form-control" %}
        </div>

      </div>
        <div>
   <div class="container">
    <table class="table table-bordered" id="time">
    <thead>
      <tr>
        <th>Intern</th>
        <th>Date</th>
        <th>Time In</th>


      </tr>
    </thead>
    <tbody>
      {% for user1 in filter %}
        <tr>
        


          <td>{{ user1.intern }}</td>
          <td>{{ user1.date}}</td>
          <td>{{ user1.time_in}}</td>

        </tr>
      {% empty %}
        <tr>
          <td colspan="5">No data</td>
        </tr>
      {% endfor %}
    </tbody>
  </table></div>
	</form>
   </div>

  </section>

<!-- Footer section
================================================== -->
<footer>
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <p class="wow fadeInUp"  data-wow-delay="0.3s">Paradyme Internship - Fall 2017 Time Sheet  </p>

            </div>
            <img src= "{% static 'images/paradyme-green.png' %}" style="height:40px;width:184px;" > </img>
        </div>
    </div>
</footer>


<!-- Javascript 
================================================== -->
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/isotope.js' %}"></script>
<script src="{% static 'js/imagesloaded.min.js' %}"></script>
<script src="{% static 'js/wow.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>

</body>
</html>
