


{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
<!--

Template 2082 Pure Mix

http://www.tooplate.com/view/2082-pure-mix

-->
	<link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <!-- Site title
   ================================================== -->
    <title>Paradyme Management Database</title>

    <!-- Bootstrap CSS
   ================================================== -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Animate CSS
   ================================================== -->
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">

    <!-- Font Icons CSS
   ================================================== -->
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}">

    <!-- Main CSS
   ================================================== -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Google web font 
   ================================================== -->   
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,300' rel='stylesheet' type='text/css'>
 

</head>
<body>


<!-- Preloader section
================================================== -->
<div class="preloader">

    <div class="sk-spinner sk-spinner-pulse"></div>

</div>


<!-- Navigation section
================================================== -->
<div class="nav-container">
   <nav class="nav-inner transparent">

      <div class="navbar">
         <div class="container">
            <div class="row">

              <div class="brand">
                <a href="{% url 'home' %}">Paradyme Management</a>
              </div>

             

            </div>
         </div>
      </div>

   </nav>
</div>





<!-- Portfolio section
================================================== -->

<section id="portfolio">
	<h1>
	Confirm Delete Record <br>
	<br>
	</h1>
    <div>


{% block content %}

          <p>Are you sure you want to delete this record?</p>
        <form action="" method="POST">
            {% csrf_token %}
            <input type="submit" value="Delete" class =" save btn btn-default"/>
            <input type="button"  value="Cancel" class =" save btn btn-default " onclick="history.back()">
        </form>

{% endblock %}
    </div>

</section>


<!-- Footer section
================================================== -->
<footer>
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <p class="wow fadeInUp"  data-wow-delay="0.3s">Paradyme Internship - Fall 2017 Time Sheet  </p>

            </div>
            <img src= "{% static 'images/paradyme-green.png' %}" style="height:40px;width:184px;" > </img>
        </div>
    </div>
</footer>


<!-- Javascript 
================================================== -->
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/isotope.js' %}"></script>
<script src="{% static 'js/imagesloaded.min.js' %}"></script>
<script src="{% static 'js/wow.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>

</body>
</html>
