
{% load static %}

{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<style>
div.container {
    display: inline-block;
    position:relative;
    overflow:auto;
}
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: fixed;
    top: 30%;

  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
.form button {


  width: 75%;
  height: 50%;
  border: 0;

  padding: 15px;

  cursor: pointer;

}
.divider{
    width:1px;
    height:1px;
    display:inline-block;
}


</style>
<head>
<!--

Template 2082 Pure Mix

http://www.tooplate.com/view/2082-pure-mix

-->
	<link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <!-- Site title
   ================================================== -->
    <title>Paradyme Management Internship</title>

    <!-- Bootstrap CSS
   ================================================== -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Animate CSS
   ================================================== -->
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">

    <!-- Font Icons CSS
   ================================================== -->
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}">

    <!-- Main CSS
   ================================================== -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Google web font 
   ================================================== -->   
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,300' rel='stylesheet' type='text/css'>
 

</head>
<body>


<!-- Preloader section
================================================== -->
<div class="preloader">

    <div class="sk-spinner sk-spinner-pulse"></div>

</div>


<!-- Navigation section
================================================== -->
<div class="nav-container">
   <nav class="nav-inner transparent">

      <div class="navbar">
         <div class="container">
            <div class="row">

              <div class="brand">
                <a href="{% url 'home' %}">Paradyme Management Internship</a>
              </div>

             

            </div>
         </div>
      </div>

   </nav>
</div>





<!-- Portfolio section
================================================== -->

<section id="portfolio">
    <div class="container">
	<h1>
	Paradymer Sign Out <br>
	<br>
	</h1>
  <h3>
  Thank You For The Hard Work!<br>
	<br>
  </h3>
    <div>
    

{% block content %}
    <h4> Please provide a summary of work completed this session </h4>
    <form method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
    {{ form.as_p }}

        <button type="submit" class="save btn btn-default" onclick="clockOut()">Clock Out</button>
        <a href="{% url 'home' %}" class='btn btn-default'>Return to Work</a>


 </form>
{% endblock %}
    </div>

<script type="text/javascript">
function clockOut(){
	var workSummary = document.getElementById('id_summary').value;
	if(workSummary.length > 29){
		notifySlack(workSummary);
	}
}


function notifySlack(workSummary){
	var today = new Date();
	var dd = today.getDate();
	var mm = today.getMonth() + 1;
	var yyyy = today.getFullYear();
	var hours = today.getHours();
	var minutes = today.getMinutes();
	var fminutes;
	var period;
	if(hours > 12){
		hours = hours - 12;
		period = "PM";
	}
	else if(hours == 12){
		period = "PM";
	}
	else
		period = "AM";
	if(minutes < 10){
		fminutes = "0" + minutes
	}
	else{
		fminutes = "" + minutes;
	}
	
	var time = hours + ":" + fminutes + " " + period
	var date = mm + "/" + dd + "/" + yyyy;
	var http = new XMLHttpRequest();
	var name = '{{name.FName}} {{name.LName}}';
	var channel = "clockins";
	var message = name + " clocked out at " + time + " on " + date;
	var token = '{{token}}';
	var username = "Sam Bot"
	//notify #clockins that we are clocking out
	var path_to_call = "https://slack.com/api/chat.postMessage?token=" + token + "&channel=" + channel + "&text=" + message + "&username=" + username ;
	$.get(path_to_call, function(error, response, body) {
		 if (error || response.statusCode == 200) {
		     console.log(error);
		 }
	});
	//send worksummary to #worksummaries
	channel = "worksummaries";
	message = name + "'s work summary at " + time + " on " + date + ": " + workSummary; 
	var path_to_call = "https://slack.com/api/chat.postMessage?token=" + token + "&channel=" + channel + "&text=" + message + "&username=" + username ;
	$.get(path_to_call, function(error, response, body) {
		 if (error || response.statusCode == 200) {
		     console.log(error);
		 }
	});
}

</script>
</section>


<!-- Footer section
================================================== -->
<footer>
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <p class="wow fadeInUp"  data-wow-delay="0.3s">Paradyme Internship - Fall 2017 Time Sheet  </p>

            </div>
            <img src= "{% static 'images/paradyme-green.png' %}" style="height:40px;width:184px;" > </img>
        </div>
    </div>
</footer>


<!-- Javascript 
================================================== -->
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/isotope.js' %}"></script>
<script src="{% static 'js/imagesloaded.min.js' %}"></script>
<script src="{% static 'js/wow.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>

</body>
</html>
